.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
  font-size: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cool-nav {
  transform: translateX(-50%) translateY(-50%);
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #9c1de7;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.image-box img {
  transition: all 0.3s;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}


.google-map {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
 }

#map {
  position: relative;
  width: 50%; 
 }

 ::placeholder {
  color: #799ED1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #799ED1;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #799ED1;
}

*, ::after, ::before {
  box-sizing: content-box;
}

/* #content-wrap {
  padding-bottom: 2.5rem;    Footer height
} */


.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-crso {
  max-width: 50%;
  height: auto;
}


  .m-title {
    height: 2px;
    background-color: lightgray;
    /* animation: reveal 2s forwards; */
  }

  .m-title:hover {
    background-color: lightgray !important;
  }

  .m-container:hover > .m-title {
    background-color: #9C1DE7;
    animation: reveal 2s forwards;
  }

  @keyframes reveal {
    from {
      width: 0px;
    }
    to {
      width: 100%
    }
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.sc-jrAGrp{
  overflow-y: scroll !important;
  }
  
/* about page */
  @media only screen and (max-width:993px){
    .about-mobile-view{
      display: block;
    }
    .about-text{
      display: none;
    }
    .about-destop-view{
  display: none;
    }
  }
  @media only screen and (min-width:994px){
    .about-mobile-view{
      display: none;
    }
    .about-destop-view{
  display: block;
    }
    .about-text{
      display: block;
    }
  }

/* service page */
  @media only screen and (max-width:768px){
    .service-destop-view{
      display: none;
  
    }
    .service-mobile-view{
  display: block;
    }
    
  }
  @media only screen and (min-width:769px){
    .service-destop-view{
      display: block;
  
    }
    .service-mobile-view{
  display: none;
    }
   
  }

  /* product page */
  @media only screen and (max-width:1005px){
    .product-mobile-view{
      display: block;
    }
    .product-destop-view{
  display: none;
    }
  }
  @media only screen and (min-width:1005px){
    .product-mobile-view{
      display: none;
    }
    .product-destop-view{
  display: block;
    }
  }

  @media only screen and (max-width:770px) {
    .home-mobile-view{
      display: block;
    }
    .home-destop-view{
  display: none;
    }
  }
  @media only screen and (min-width:771px) {
    .home-mobile-view{
      display: none;
    }
    .home-destop-view{
  display: block;
    }
  }

  /* home paragraph */
  @media only screen and (max-width:770px) {
    .taiwan-mobile{
      display: block;
    }
    .taiwan-desktop111{
  display: none;
    }
  }
  @media only screen and (min-width:771px) {
    .taiwan-mobile{
      display: none;
    }
    .taiwan-desktop111{
  display: block;
    }
  }
/* crm */
  @media only screen and (max-width:770px) {
    .crm-mobile1{
      display: block;
    }
    .crm-desktop111{
       display: none;
    }
  }
  @media only screen and (min-width:771px) {
    .crm-mobile1{
      display: none;
    }
    .crm-desktop111{
  display: block;
    }
  }