.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
  font-size: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-box img {
  transition: all 0.3s;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}


.google-map {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
 }

#map {
  position: relative;
  width: 50%; 
 }

 ::placeholder {
  color: #799ED1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #799ED1;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #799ED1;
}

*, ::after, ::before {
  box-sizing: content-box;
}

/* #content-wrap {
  padding-bottom: 2.5rem;    Footer height
} */


.img-fluid {
  max-width: 60%;
  height: auto;
}

  .m-title {
    height: 2px;
    background-color: lightgray;
    /* animation: reveal 2s forwards; */
  }

  .m-title:hover {
    background-color: lightgray !important;
  }

  .m-container:hover > .m-title {
    background-color: #9C1DE7;
    animation: reveal 2s forwards;
  }

  @keyframes reveal {
    from {
      width: 0px;
    }
    to {
      width: 100%
    }
  }

  .main { 
    backgroundColor:#dbf3fa !important
  }