html {
  height: 100% !important
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* overflow-x:hidden; */

}
/* .about-company{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.about-company Map{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
} */

html, body, #root {
  height: 100%;
}
#root {
  height: 100% !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer
{
  width:100%;
  /* height:25%;    */
  position:relative;
  bottom:0;
  left:0;
  right: 0;
}
/* .contact{
  width: 100%;
  position:relative;
  Left: 0;
  /* margin: 0 auto; */
  /* margin: 0;
  padding: 0;
} */ 

.image-layout{
  width: 100%;
  height: 250px;
  overflow: hidden;
 }
.layout{
  padding: 0;
  max-width: 100%;
  margin-top: -4.2%;
} 

.nails{
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
}
.mobile-view{
  display: none;
}

.image-box img {
  transition: all 0.3s;
  transform: scale(1);
  scrollbar-width: none;
}

.image-box:hover img {
  transform: scale(1.1);
  scrollbar-width: none;
}

.development{
  overflow-x:hidden;
  overflow-y: hidden;
}
/* .vertion-paragraph{
  position: absolute;
} */

@media only screen and (max-width: 450px) {
  .development {
    /* background-color: lightblue; */
   padding-top: 40%;
   margin-bottom: -30px;
  }
  .title{
    font-size: medium;
    margin-left: 13px;
  }
  .service-text{
    font-size:12px;
  }
  .centralized{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .kumo-button{
    padding-top: 60%;
  }
  .footer-sub{
    margin-left: 10px;
  }
  .reserved{
    margin-left: 5px;
  }
}

@media only screen and (max-width: 470px) {
 
}
@media only screen and (max-width: 730px) {
  .development {
   padding-top: 30%;
   margin-bottom: -30px;
  }
}
@media only screen and (max-width: 992px) {
 .container-footer{
  margin-left: 33%;
 }
 .copyright-reserved{
   margin-top: 5%;
 }
  
}
@media only screen and (max-width: 945px) {
  .container-footer{
    margin-left: 33%;
   }
}
@media only screen and (max-width: 800px) {
  .vertion-paragraph{
    margin-bottom: -70%;
  }

}
@media only screen and (max-width: 764px) {
  .vertion-paragraph{
    position: absolute;
    margin-top: 40%;
  }
  .kumo-image{
    margin-bottom: 10%;
    margin-top: 2%;
  }
}
@media only screen and (max-width: 769px) {
  .container-footer{
    margin-left: 30%;
  }
  .vertion-paragraph{
    position: absolute;
    margin-top: 40%;
    /* margin-top: -5%; */
  }
  .kumo-image{
   margin-left: 5%;
   margin-bottom: 10%;
   margin-top: 2%;
  }
}
@media only screen and (max-width: 740px) {
  .vertion-paragraph{
    margin-top: 45%;
  }
}
@media only screen and (max-width: 755px) {
  .container-footer{
    margin-left: 28%;
  }
  .vertion-paragraph{
    margin-top: 50%;
  }
  .kumo-image{
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 660px) {
  .container-footer{
    margin-left: 28%;
  }
  .vertion-paragraph{
    margin-top: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .container-footer{
    margin-left: 23%;
   }
   .vertion-paragraph{
     margin-top: 50%;
   }
   .kumo-image{
     margin-bottom: 15%;
   }
}
@media only screen and (max-width: 640px) {
  .vertion-paragraph{
    margin-top: 50%;
  }
  .kumo-image{
    margin-bottom: 17%;
  }
}

@media only screen and (max-width: 590px) {
  .vertion-paragraph{
    margin-top: 55%;
  }
  .kumo-image{
    margin-bottom: 19%;
  }
}
@media only screen and (max-width: 550px) {
  .container-footer{
    margin-left: 18%;
  }
  .vertion-paragraph{
    margin-top: 60%;
  }
  .kumo-image{
    margin-bottom: 25%;
  }
}
@media only screen and (max-width: 512px) {
  .vertion-paragraph{
    margin-top: 65%;
  }
  .kumo-image{
    margin-bottom: 30%;
  }
}
@media only screen and (max-width: 455px) {
  .container-footer{
    margin-left: 10%;
  }
  .vertion-paragraph{
    margin-top: 70%;
  }
  .kumo-image{
   margin-bottom: 35%;
  }
}
@media only screen and (max-width: 420px) {
  .vertion-paragraph{
    margin-top: 80%;
  }
  .kumo-image{
    margin-bottom: 40%;
  }
}
@media only screen and (max-width: 391px) {
  .vertion-paragraph{
    margin-top: 80%;
  }
  .kumo-image{
    margin-bottom: 45%;
  }
}
@media only screen and (max-width: 380px) {
  .vertion-paragraph{
    margin-top: 85%;
  }
  .kumo-image{
    margin-bottom: 50%;
  }
}
@media only screen and (max-width: 376px) {
  .container-footer{
    margin-left: 6%;
  }
  .development{
    padding-top: 42%;
  }
  .vertion-paragraph{
    margin-top: 90%;
  }
  .kumo-image{
    margin-bottom: 55%;
    margin-top: 5%;
  }
  .about-image{
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 361px) {
  .container-footer{
    margin-left: 4%;
  }
  .vertion-paragraph{
    margin-top: 95%;
  }
  .kumo-image{
    margin-bottom: 60%;
  }
}
@media only screen and (max-width: 321px) {
  .container-footer{
    margin-left: -2%;
  }
  .town-sub{
    padding-top: 3%;
    margin-left: -10%;
  }
  .vertion-paragraph{
    margin-top: 100%;
  }
  .kumo-image{
    margin-bottom: 65%;
  }
}
@media only screen and (max-width: 300px) {
  .vertion-paragraph{
    margin-top: 110%;
  }
  .kumo-image{
    margin-bottom: 70%;
  }
}
@media only screen and (max-width: 281px) {
  .container-footer{
    margin-left: -5%;
  }
  .town{
    margin-left: -3%;
  }
  .town-sub{
    padding-top: 3%;
    margin-left: -21%;
  }
  .three-column{
    margin-left: -5%;
  }
  .vertion-paragraph{
    margin-top: 120%;
  }
  .kumo-image{
    margin-bottom: 80%;
  }
  .contact-layout{
    margin-right: -13%;
  }
  .mandalay{
    margin-left: -13%;
  }
  .business{
    margin-left: -12%;
  }
  .about-title{
    margin-left: -5%;
  }
  .about-image{
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 260px) {
  .vertion-paragraph{
    margin-top: 130%;
  }
  .kumo-image{
    margin-bottom: 90%;
  }
}
@media only screen and (max-width: 230px) {
  .vertion-paragraph{
    margin-top: 140%;
  }
  .kumo-image{
    margin-bottom: 100%;
  }
}
@media only screen and (max-width: 200px) {
  .vertion-paragraph{
    margin-top: 160%;
  }
  .kumo-image{
    margin-bottom: 120%;
  }
}
@media only screen and (max-width: 1050px) {
  .centralized{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .kumo-button{
    padding-top: 30%;
    flex-direction: column;
    align-items: center;
  }
  .large-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }
}
@media only screen and (max-width: 770px) {
  /* .img-fluid {
    max-width: 50%;
    height: auto;
  } */
  /* about us */

  .about-box{
    text-align: center;
  }
}
@media only screen and (device-width: 768px) {
 .vertion-paragraph{
  margin-top: -4%;
 }
}

@media only screen and (max-width: 322px) {

  .m-paragraph{
   margin-left: 12px;
}
.development{
  padding-top: 50%;
}
#footer-map{
 width: 100%;
}
}
@media only screen and (max-width: 928px) {
  .home-service-bg {
    background: #dbf3fa;
    height: 420px; 
    z-index: -1;
    position: absolute; 
    left: 0px;
    right: 0px;
    width: 100%;
  }
  .vertion-text{
    margin-bottom: 10%;
  }
  .development{
  padding-top: 20%;
  }
  .version-box{
    margin-left: 20%;
  }
}

@media only screen and (min-width: 929px) {
  .home-service-bg {
    background: #dbf3fa;
    transform: skew(-30deg);
    height: 330px; 
    z-index: -1;
    position: absolute; 
    left: 140px;
    right: 100px;
    
  }
}


footer {
  background: #dbf3fa;
  color: #084C95;
  padding-top: 10px;
  overflow: hidden;
  
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
 margin-bottom: 5%;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}


footer .copyright {
  padding: 15px 0;
  background: #dbf3fa;
  margin-top: -40px;
  font-size: 15px;
}

.transition-container,.transition-container .bDqItY {
  overflow: auto;
}